<div id="main_menu">
	<div id="bottomUp"><img src="__PUBLIC__/images/bottomUp.jpg" class="imgDown"/></div>
	<div class="main_nav">
		<div class="topbg"></div>
		<div class="midbg" style="margin-top:0px;">
			<ul class="listexpander">
				<li>
                                    <a class="level1menu" href="#">菜单管理</a>
                                    <ul class="childmenu">
                                            <li><a href="{:U('Admin/index/addinfo')}" target="mainframe">添加</a></li>
                                            <li><a href="{:U('Admin/index/showinfo')}" target="mainframe">查看</a></li>

                                    </ul>
				</li>

			</ul>
			<div id="bottomDown"><img src="__PUBLIC__/images/bottomDown.jpg" class="imgDown" /></div>
		</div>
		<div class="bottombg"></div>
	</div>
</div>