<div class="sectionHeader-A1 clear" id="header">
	<div class="sectionWrap-A1">
		<div class="middle">
			<div class="left">
				<div class="sectionBox sectionLogo-A1 clear">
					<img src="__PUBLIC__/images/logo.gif" alt=""/>
					<h2 class="L">管理系统</h2>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="sectionNav-A1">
		<ul class="clear">
                    <li class="R ml10"><a href="{:U('/Admin')}" target="_blank">后台</a></li>
                    <li class="R">欢迎您: <span class="mr10">name</span> [<a href="">退出登录</a>]</li>
		</ul>
	</div>
</div>



