<div id="main_menu">
	<div id="bottomUp"><img src="__PUBLIC__/images/bottomUp.jpg" class="imgDown"/></div>
	<div class="main_nav">
		<div class="topbg"></div>
		<div class="midbg" style="margin-top:0px;">
			<ul class="listexpander">
				<li>
					<a class="level1menu" href="#">视频及链接地址管理</a>
					<ul class="childmenu">
						<li><a href="{:U('Home/index/addinfo')}" target="mainframe">添加</a></li>
						<li><a href="{:U('Home/video/index')}" target="mainframe">看视频</a></li>
                                                <li class="cur"><a href="{:U('Home/address/index')}" target="mainframe">查看地址</a></li>
					</ul>
				</li>
				<li>
					<a class="level1menu" href="#">财务管理</a>
					<ul class="childmenu">
						<li><a href="{:U('Home/finance/index')}" target="mainframe">账单列表</a></li>
						
					</ul>
				</li>

			</ul>
			<div id="bottomDown"><img src="__PUBLIC__/images/bottomDown.jpg" class="imgDown" /></div>
		</div>
		<div class="bottombg"></div>
	</div>
</div>