<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title><?php echo $title;?></title>
        <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/css/base.css" rel="stylesheet" type="text/css" />


        <style type="text/css">
            html,body{overflow:auto;}

        </style>

    </head>
    <body>
        <div class="container mt20">
            <div class="row">
                <div class="col-md-12">

                    <table class="table table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th>金额</th>
                                <th>备注</th>
                                <th>状态</th>
                                <th>录入时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach($info as $v){?>
                            
                            <tr>
                                <td><?php echo $v['money'];?></td>
                                <td><?php echo $v['note'];?></td>
                                <td><?php echo $v['state']; ?></td>
                                <td><?php echo $v['lr_date'];?></td>
                            </tr>
                            <?php } ?>
                            <tr>
                                <td colspan="4" class="text-right">总数： <?php echo $total;?></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </body>
</html>
